<div class="todo-page">
  <h2>Todo List</h2>
  <div class="add">
    <input type="text" placeholder="New task" [(ngModel)]="newTodos" (keyup.enter)="addTask()" />
    <button (click)="addTask()">Qo'shish</button>
  </div>

  <div class="filter">
    <button (click)="setFilter('all')">All</button>
    <button (click)="setFilter('active')">Active</button>
    <button (click)="setFilter('done')">Done</button>
  </div>
  @switch (filter) { @case ('all') {
  <p>All</p>
  } @case ('active') {
  <p>Active</p>
  } @case ('done') {
  <p>Done</p>
  } }

  <ul>
    @for (todo of filteredTodos; track $index) {
    <li [ngClass]="{ done: todo.done }">
      {{ todo.text }}
      <div class="actions">
        @if (!todo.done) {
        <button (click)="markDone(todo)">Done</button>
        } @else {
        <button (click)="markActive(todo)">Undo</button>
        }
      </div>
    </li>
    } @empty{
    <li class="empty">Not found task</li>
    }
  </ul>
</div>
