.counter-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2f80ed;
    color: #2f80ed;
    font-weight: bold;
    font-size: 30px;
}

.value-box{
    min-width: 80px;
    height: 50px;
    border: 1px solid #cfd8dc;

    display: flex;
    align-items: center;
    justify-content: center;
}