.page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    width: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px;
}

.btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 8px;
}

input{
    margin-top: 5px;
    width: 190px;
    border-radius: 2px;
    font-size: 16px;
}

button{
    width: 40px;
    font-size: 15px;
}